<div class="navbar navbar-expand-lg bg-body-secondary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="arborcare-logo.png" alt="ArborCare Tree Management" 
                style="width:150px;" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                <li class="nav-item"><hr class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        ArborCare Tree Management
                    </a>
                </li>
                <li class="nav-item"><hr class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Our Story
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        585.333.4095
                    </a>
                </li>
                <li class="nav-item"><hr class="divider"></li>
                <li class="nav-item">
                    <div class="container" style="max-width: 200px;">
                        <div class="row">
                            <div class="col">
                                <a class="icon text-black" href="https://www.facebook.com/arborcaretreemanagement">
                                    <span class="fa-brands fa-facebook" style="margin-top:15px;"></span>
                                </a>
                            </div>
                            <div class="col">
                                <a class="icon text-black" href="https://www.instagram.com/arborcaretreemgmt/">
                                    <span class="fa-brands fa-instagram" style="margin-top:15px;"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>