<main>
  <!-- Header -->
  <div class="fixed-top">
    <app-header></app-header>
  </div>
  <!-- Body -->
   <!-- Banner -->
  <div class="card text-beginning" style="max-width: 100%; margin-top:116px;">
    <img class="w-100" src="rainbow-trees-arborcare.jpg"/>
    <div class="card-img-overlay">
      <span style="position:absolute; bottom:0px;">
        <p class="card-title text-wrap text-white fs-1">Excellence in Tree Care... Naturally</p>
      </span>
    </div>
  </div>
  <p>Full tree care services with the smallest detrimental effect on the environment. Cared for trees are healthier, live longer, and have superior beauty.</p>
</main>